{% extends 'admin/dashboard.html.twig' %}

{% block title %}Nouvelle Réservation{% endblock %}

{% block body %}
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4 shadow-sm border-radius-xl">
                    <div class="card-header p-3">
                        <h6 class="font-weight-bolder mb-0">Choisir le type de réservation</h6>
                    </div>
                    <div class="card-body p-3 text-center">
                        <a href="{{ path('admin_reservations_new', {'type': 'pack'}) }}" class="btn btn-primary me-3">Réservation Pack</a>
                        <a href="{{ path('admin_reservations_new', {'type': 'personnalise'}) }}" class="btn btn-primary">Réservation Personnalisée</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}